.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2e2e2e;
    padding: 1rem; 
    z-index: 50;
}

.navbarContent {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    color: white;
    font-size: 1.25rem; 
    font-weight: bold; 
}

.link {
    color: #d1d5db; 
    transition: color 0.3s;
}

.link:hover {
    color: white; 
}

.highlight {
    color: #ffc300;
}
